target/
nbactions.xml
*.swp
/chat-commons/nbproject/private/
/chat-commons/dist/
/chat-commons/build/
/jsockchat-server/nbproject/
/TestLib/nbproject/private/
/TestLib/build/
jsockchat-server/data/db/*.db
